<div class="container" ng-controller="bingo_controller">
	<h2>Create a new bingo match</h2>
	<input type="text" ng-model="players"></input><button ng-click="create()">Create</button>
	<div ng-cloak ng-show="match">
		<p>
			<strong>Bingo match created!</strong>
			<ul>
				<li>Id: {{ match.id }}</li>
				<li>Code: {{ match.code }}</li>
				<li>Numbers: {{ match.game.numbers }}</li>
				<li>Players: {{ match.game.players }}</li>
			</ul>
		</p>
	</div>
	<hr style="margin-top: 20px;"/>
	<hr/>

	<input type="text" ng-model="code"></input><button ng-click="join()">Join bingo</button>
</div>
